extends layout

block content

    // ****** Block Menu ******
    
    nav.navbar.navbar-inverse
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href='/') eCommerce
            ul.nav.navbar-nav
                li.active
                    a(href='/') Produits 
            .col-sm-3.col-md-3
                form.navbar-form(role='search')
                    .input-group
                        input.form-control(type='text', placeholder='Search', name='q')
                        .input-group-btn
                            button.btn.btn-default(type='submit')
                                i.glyphicon.glyphicon-search              
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='panier')
                        span.glyphicon.glyphicon-shopping-cart
                        |  Panier
                li
                    a(href='#')
                        span.glyphicon.glyphicon-log-out
                        |  Logout