extends layout

block content

    // ****** Block Menu ******
    
    nav.navbar.navbar-inverse
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href='/') eCommerce
            ul.nav.navbar-nav
                li.active
                    a(href='/') Accueil
                    
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='inscription')
                        span.glyphicon.glyphicon-user
                        |  S'inscrire
                li
                    a(href='connexion')
                        span.glyphicon.glyphicon-log-in
                        |  Se connecter
                        
                        
    h1 Projet site eCommerce
    p Bienvenue sur ce site créer par Gilmont Emeric et Balasse Thibault pour le cours de :
    p Application et système d'entreprise